
body {
    margin: 0;
    background: #000000;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#selection-page {
    display: none;
    background: #000000;
}

#turn-title, #outcome-title, #welcome-title {
    color: #F72798;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    font-size: 60px;
}

.score-title {
    color: #F72798;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

#selection-choices {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 40px;
}

#selection-choices img {
    height: 200px;
    border: 8px #F57D1F dashed;
}

#outcome-page {
    background-color: #000000;
    display: none;
}

#outcome-title {
    padding-bottom: 20px;
}

#explanation, #choices {
    margin: 0;
    text-align: center;
    color: #F57D1F;
    font-size: 30px;
}

#previous-ai-title {
    color: #EBF400;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#num-of-previous-ai-moves li {
    font-size: 20px;
    color: #F72798;
}

button {
    display: block;
    margin: 20px auto;
    width: 400px;
    font-size: 50px;
    border-radius: 20px;
    border: 8px #EBF400 solid;
    color: #F72798;
    background: #000000;
}

button:hover {
    border-color: #FFFFFF;
}

#gameover-page {
    display: none;
}

#gameover-title {
    color: #F72798;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    font-size: 60px;
}

#result, #made-by {
    margin: 0;
    text-align: center;
    color: #F72798;
    font-size: 30px;  
}

#resolution li {
    font-size: 20px;
    color: #F57D1F;
}

#welcome-page {
    display: block;
    background: #000000;
}

#turn-number-label {
    display: block;
    color: #F57D1F;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

input#turn-number {
    display: block;
    width: 200px;
    border: solid 2px #EBF400;
    border-radius: 4px;
    color: #FFFFFF;
    background: #000000;
    user-select: none;
    margin: auto;
}

input:focus {
    outline-width: 0;
}